body {
	background-color: lightslategrey;
}
.titulo {
	text-align: center;
	background-color: deepskyblue;
	text-transform: uppercase;
}
.book_type {
	background-color: transparent;
	border: none;
}
#crear{
	margin-left: 75em;
}
footer {
	text-align: center;
}
ul {
	list-style: none;
}
li {
	display: inline-block;
	width: 33%;
}