<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Editar archivo - Bibliofy</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/styles.css">
	<style>
		.form-control {
			border-radius: 5px;
			border: 1px solid #e0e0e0;
		}
		.form-label {
			font-weight: bolder;
		}
		footer {
			text-align: center;
			background-color: white;
		}
		#actualizar{
			background-color: lightcoral;
			color: white;
			width: 100px;
			height: 40px;
			text-align: center;
			border: 1px solid #e0e0e0;
			font-weight: bolder;
		}
		#actualizar:hover{
			cursor: pointer;
		}
		.title{
			text-align: center;
			background-color: lightsalmon;
			text-transform: uppercase;
			font-weight: bolder;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1 class="text-center">Bibliofy</h1>

		<div class="row align-items-start">
		    <div class="col text-center">
		      <h3><a href='/libros'>Libros</a></h3>
		    </div>
		    <div class="col text-center">
		      <h3><a href='/apuntes'>Apuntes</a></h3>
		    </div>
		    <div class="col text-center">
		      <h3><a href='/examenes'>Examenes</a></h3>
		    </div>
		 </div>
	</div>

	<div class="container mt-4">	
		<h3><a href="/">Volver a Inicio</a></h3>
		<h3><a href="/catalogo">Ver Catalogo</a></h3>
		<h3><a href="/publicar">Publicar nuevo libro</a></h3>
	</div>

    <h1 class="title">Editar Archivo</h1>
	<div class="container" > 
		<form onsubmit="actualizar_libro(event)">
			<div class="mb-3">
			  <label class="form-label">Nombre</label>
			  <br>
			  <input type="text" class="form-control" name="nombre" placeholder="Harry Potter" required>
			</div>

			<div class="mb-3">
			  <label class="form-label">Autor</label>
			  <br>
			  <input type="text" class="form-control" name="autor" placeholder="JK Rowling" required>
			</div>

			<div class="mb-3">
				<label class="form-label">Enlace</label>
			  	<br>
			  	<input type="text" class="form-control" name="pdf" placeholder=".pdf" required>
			</div>

			<div class="mb-3">
				<label class="form-label">Imagen</label>
			  	<br>
			  	<input type="text" class="form-control" name="img" placeholder=".png, .jpg" required>
			</div>

			<div class="mb-3">
				<label class="form-label">Descripcion</label>
			  	<br>
				<input type="text" class="form-control" name="descripcion" required>
			</div>

			<div class="input-group mb-3">
				<div class="input-group-text">
			  	<br>
				<input class="form-check-input mt-0" type="radio" name="categoria" value="libros" required>Libros</label>
				</div>
			</div>
			<div class="input-group mb-3">
				<div class="input-group-text">
				  <input class="form-check-input mt-0" type="radio" name="categoria" value="apuntes" required>Apuntes</label>
				</div>
			</div>
			<div class="input-group mb-3">
				<div class="input-group-text">
				  <input class="form-check-input mt-0" type="radio" name="categoria" value="examenes" required>Examenes</label>
				</div>
			</div>
			<button id="actualizar" type="submit" class="btn btn-primary">Actualizar</button>
		</form>
	</div>
	<script>
		function handle_response(data){
			console.log(data)
			console.log(data.success)
			if (data.success){
				window.location.href = `http://127.0.0.1:5000/catalogo`
			}else {
				alert("Error")
			}
		}
		function actualizar_libro(event) {
			event.preventDefault()
			const formData = new FormData(event.target)
			
			const nombre = formData.get('nombre')
			const autor = formData.get('autor')
			const pdf = formData.get('pdf')
			const img = formData.get('img')
			const descripcion = formData.get('descripcion')
			const categoria = formData.get('categoria')
			const params = window.location.href;
			console.log(params)
			const id_libro = params.charAt((params.length)-1)
			console.log(id_libro)


			fetch(`http://127.0.0.1:5000/editar/`+id_libro, {
				method: "PUT",
				headers: {
					"Content-Type":"application/json"
				},
					body:JSON.stringify({
					nombre:nombre,
					autor:autor,
					pdf:pdf,
					img:img,
					descripcion:descripcion,
					categoria:categoria
					})												
				})
			
			.then((res)=>res.json())
			.then(handle_response)
			.catch((error)=> console.log("ERROR",error))
		}
	</script>
	<br>
	<footer>
		<p>Bibliofy 2024</p>
	</footer>
</body>
</html>