<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Catálogo - Bibliofy</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/styles.css">
	<style>
		#btn-publicar a {
			text-decoration: none;
			text-align: center;
		}
		#btn-publicar a:hover {
			color: white;
		}
		.form-control {
			border-radius: 5px;
			border: 1px solid #e0e0e0;
		}
		footer {
		text-align: center;
		background-color: white;
		}
		.title {
			text-align: center;
			text-transform: uppercase;
			font-weight: bolder;
			background-color: lightgray;
		}
	</style>

</head>
<body>
	{% include "navbar.html" %}



	<br>
	<h1 class="title">Archivos</h1>
	<div class="border-black-subtle rounded-2 mt-5 mx-5 p-2 text-dark bg-opacity-10" id="contenedor_libros">

		<div class="container">
			<div class="row g-4">
			{% for d in data %}
				<div class="col-6 col-md-4 col-lg-4 col-xl-2">
					<a><div class="card">
						<div id="img-libro">
							<img src="{{d.img}}" class="text-center card-img-left" height="200px" width="155px">
						</div>
					  <div class="card-body">
					    <a href="/catalogo/{{d.id}}" class="card-link">Más info...</a>
					  </div>
					</div></a>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>

	
	<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
<footer>
	<p>Bibliofy 2024</p>
</footer>
</html>