<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Archivo - Bibliofy</title>
	<link rel="stylesheet" href="/static/styles.css"> 
</head>
<body>
	<p>{{data.nombre}}<a href="{{data.pdf}}"><img src='{{data.img}}' width='100'></a><button id="eliminar" onclick="eliminar_libro(event)">Eliminar</button></p>
	
	<br> <button onclick="get_comentarios(event)">Cargar comentarios</button>
	<img src="" alt="" id="imagen_libro">
    <button id="comentario">Enviar un comentario</button>
	<ul id='lista_comentarios'>Lista de comentarios</ul>
	

	<script>
		
		function handle_response_delete(data){
			if (!data)
			alert('Error')
				window.location.href = `http://127.0.0.1:5000/`
		}		

		function handle_response(data){
			if (!data){
				alert('Error')
				window.location.href = `http://127.0.0.1:5000/`
			}else{
				const ul = document.getElementById('lista_comentarios')
				var comentarios_json = data
				for (var i = 0; i < data.comentarios.length; i++){
					/*console.log(data.comentarios[i].comentario)*/
					const texto = data.comentarios[i].comentario
					/*console.log(texto)*/
					const li = document.createElement('li')
					li.innerHTML=texto
					ul.appendChild(li)
				}
			}
		}
		function get_comentarios(event){
			event.preventDefault()
			
			fetch(`http://127.0.0.1:5000/comentarios/`+"{{data.id}}")
			.then((res)=>res.json())
			.then(handle_response)
			.catch((error)=> console.log('ERROR',error))
		}

		function eliminar_libro(event){
			event.preventDefault()
			var confirmacion = confirm('¿Está seguro de borrar el libro?')
			if (confirmacion){
				fetch(`http://127.0.0.1:5000/catalogo/`+"{{data.id}}", {
				method: "DELETE"												
				})
				.then((res)=>res.json())
				.then(handle_response_delete)
				.catch((error)=> console.log('ERROR',error))
			}
		}
	</script>
</body>
<footer>
	
</footer>
</html>