<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/styles.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<title>{{data.nombre}} - Bibliofy</title>
	<style>
	#editar{
		background-color: lightgoldenrodyellow;
		width: 75px;
		height: 35px;
		font-weight: bolder;
	}
	#editar:hover{
		cursor: pointer;
	}
	.title {
		text-align: center;
		text-transform: uppercase;
		font-weight: bolder;
	}
	.form-control {
			border-radius: 5px;
			border: 1px solid #e0e0e0;
			width: 1000px;
	}
	.form-label {
		font-weight: bolder;
	}
	footer {
		text-align: center;
		background-color: white;
	}
	#lista_comentarios {
		list-style: none;
	}
	#lista_comentarios li{
		margin-top: 10px;
	}
	#cargar_comentarios {
		background-color: lightsteelblue;
		font-weight: bolder;
		border-radius: 5px;
		border: 1px solid #e0e0e0;
	}
	</style>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

	<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand" href="/"><img src="/static/img/logo.png"  alt="Inicio" width="60" height=""></a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			  <li class="nav-item">
				<a class="nav-link" href="/catalogo">Ver Catalogo</a>
			  </li>
  
			  <li class="nav-item">
				<a class="nav-link" href="#">Playlist</a>
			  </li>
  
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				  Tipos
				</a>
  
				<ul class="dropdown-menu">
				  <li><a class="dropdown-item" href="/libros">Libros</a></li>
				  <li><a class="dropdown-item" href="/apuntes">Apuntes</a></li>
				  <li><a class="dropdown-item" href="/examenes">Exámenes</a></li>
				</ul>
			  </li>
			</ul>
			<form class="d-flex" role="search">
				<a class="btn-outline-success" id="btn-subir" type="submit" href="/publicar" >Subir nuevo archivo</a> </button>
			</form>
		  	</div>
		</div>
	</nav> -->
	{% include "navbar.html" %}
	<p>
	<h1 class="title">{{data.nombre}}</h1>
	<h3 class="title">{{data.categoria}}</h3>
	</p>
	<div class="imagen-info">
	<p><a href="{{data.pdf}}"><img src='{{data.img}}' width='250px' height='350px'></a>
	<ul>
		<h6>Autor: {{data.autor}}</h6>
		<h6>{{data.descripcion}}</h6>
		<p id="puntuacion">Puntuación:
			<script>
			function handle_response_puntuacion(data){
				if (!data){
				alert('Error al cargar puntuación')
					window.location.href = `http://127.0.0.1:5000/`
				}else{
					
					var texto= data.puntuacion
					let puntuacion = document.getElementById('puntuacion')
				
					let p = document.createElement('p')
					if (texto != "Sin puntuación"){
						const estrellas=parseInt(texto)
						texto=""
						for (let i=0;i<estrellas;i++){
							texto+= "⭐"
						}
					}
				
					p.innerText=texto
					puntuacion.append(texto)
				}
			}
	
			console.log("hola")
			fetch(`http://127.0.0.1:5000/puntuaciones/`+"{{data.id}}")
			.then((res)=>res.json())
			.then(handle_response_puntuacion)
			.catch((error)=> console.log('ERROR',error))
			console.log("chau")
			</script>
		</p>
		<p><label for="estrellas">¡Valorá este archivo!</label></p>
		<form onsubmit="puntuar_libro(event)">
			<input
			type="range"
			name="estrellas"
			id="estrellas"
			min="1"
			max="5"
			step="1"
			value="3" />
			<output class="estrellas-output" for="estrellas"></output>
			<br>	
			<button type="submit" id="boton_libro">Enviar puntuación</button>
		</form>
		
		<script>
			const price = document.querySelector("#estrellas");
			const output = document.querySelector(".estrellas-output");
	
			price.addEventListener("input", function () {
				output.textContent=""
				for (let i=0;i<price.value;i++){
					output.textContent+= "⭐"
						}
				});
	
		</script>
	
	</ul>
	</p>
	</div>
	<br>
	<button id="eliminar" onclick="eliminar_libro(event)">Eliminar</button>
	<a href="/editar/{{data.id}}"><button id="editar">Editar</button></a>
	<br>
	<br>
	<div id="sector-inferior">
	<form onsubmit="agregar_comentario(event)">
		<label class="form-label">Enviar un comentario</label>
		<input type="text" class="form-control" id="dejar_comentario" name="hola" required>
		<br>
		<button type="submit" id="boton_libro">Enviar</button>
	</form>
	<br>
	<button id="cargar_comentarios"onclick="get_comentarios(event)">Cargar comentarios</button>
	<img src="" alt="" id="imagen_libro">
	
    
	<ul id='lista_comentarios'></ul>
		
	<script src="/static/js/bootstrap.bundle.min.js"></script>

	<script>

		function handle_response_agregar_comentario(data){
			if (!data){
				alert('Error: no se pudo agregar el comentario')
				window.location.href = `http://127.0.0.1:5000/`
			
			}else{
				window.location.href=`http://127.0.0.1:5000/catalogo/`+"{{data.id}}"
				let boton = document.getElementById("cargar_comentarios")
				boton.click()
			}
			
		}


		function agregar_comentario(event){
			event.preventDefault()
			const formData = new FormData(event.target)
			const id_libro = "{{data.id}}"
			const comentario = formData.get("hola")
		
			fetch(`http://127.0.0.1:5000/comentarios/`+id_libro,{
				method: "POST",
				headers: {
					"Content-Type":"application/json"
				},body:JSON.stringify({
					id_libro:id_libro,
					comentarios:comentario
					})	
			})
			.then((res)=>res.json())
			.then(handle_response_agregar_comentario)
			.catch((error)=> console.log("ERROR",error))
		}


		function handle_response_valorar_libro(data){
			if (!data){
				alert('Error: no se pudo puntuar el libro')
				window.location.href = `http://127.0.0.1:5000/`
			}
			window.location.href=`http://127.0.0.1:5000/catalogo/`+"{{data.id}}"
			
		}		
		

		function puntuar_libro(event){
			event.preventDefault()
			const formData = new FormData(event.target)
			const id_libro = "{{data.id}}"
			const puntuacion = formData.get("estrellas")
			fetch(`http://127.0.0.1:5000/puntuaciones/`+id_libro, {
				method: "POST",
				headers: {
					"Content-Type":"application/json"
				},
					body:JSON.stringify({
					id_libro:id_libro,
					puntuacion:puntuacion
					})												
				})
			
			.then((res)=>res.json())
			.then(handle_response_valorar_libro)
			.catch((error)=> console.log("ERROR",error))
		}

		function handle_response_delete(data){
			if (!data){
				alert('Error')
				window.location.href = `http://127.0.0.1:5000/`
			}
		}		

		function handle_response(data){
			if (!data){
				alert('Error')
				window.location.href = `http://127.0.0.1:5000/`
			}else{
				const ul = document.getElementById('lista_comentarios')
				ul.replaceChildren([])
				var comentarios_json = data
				for (var i = 0; i < data.comentarios.length; i++){
					/*console.log(data.comentarios[i].comentario)*/
					const texto = data.comentarios[i].comentario
					/*console.log(texto)*/
					const li = document.createElement('li')
					li.innerHTML=texto
					ul.appendChild(li)
				}
			}
		}
		function get_comentarios(event){
			event.preventDefault()
			
			fetch(`http://127.0.0.1:5000/comentarios/`+"{{data.id}}")
			.then((res)=>res.json())
			.then(handle_response)
			.catch((error)=> console.log('ERROR',error))
		}

		function eliminar_libro(event){
			event.preventDefault()
			var confirmacion = confirm('¿Está seguro de borrar el libro?')
			if (confirmacion){
				fetch(`http://127.0.0.1:5000/catalogo/`+"{{data.id}}", {
				method: "DELETE"												
				})
				.then((res)=>res.json())
				.then(handle_response_delete)
				.catch((error)=> console.log('ERROR',error))
			}
		}
	</script>
	</div>
</body>
<footer>
	<p>Bibliofy 2024</p>
</footer>
</html>