<nav class=" border navbar navbar-expand-lg bg-body-tertiary">
    <div class="container container-fluid">
        <a class="navbar-brand" href="/"><img src="/static/img/logo.png"  alt="Inicio" width="45" height=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link" href="/catalogo">Ver Catalogo</a>
            </li>

            <li class="nav-item">
            <a class="nav-link" href="/colecciones">Coleccion</a>
            </li>

            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Tipos
            </a>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/libros">Libros</a></li>
                <li><a class="dropdown-item" href="/apuntes">Apuntes</a></li>
                <li><a class="dropdown-item" href="/examenes">Examenes</a></li>
            </ul>
            </li>
        </ul>
        <form class="d-flex" role="search">
            <a style="text-decoration: none" class="btn-outline-success" id="btn-subir" type="submit" href="/publicar" ><b>Subir archivo</b> </a> </button>
        </form>
        </div>
    </div>
</nav>