<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Nuevo libro - Bibliofy</title>
	<link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Nuevo libro</h1>
    <form>
        <label for="nombre">Nombre</label>
        <br>
        <input type="text" id="nombre" name="libro_nombre" placeholder="El príncipe feliz">
        <br>
        <label for="autor">Autor</label>
        <br>
        <input type="text" id="autor" name="libro_autor" placeholder="Oscar Wilde">
        <br>
        <label for="img">Imagen</label>
        <br>
        <input type="url" id="img" name="libro_imagen" placeholder=".jpg, .png">
        <br>
        <label for="pdf">Enlace</label>
        <br>
        <input type="url" id="pdf" name="libro_enlace" placeholder=".pdf">
        <br>
        <label for="descripcion">Descripción</label>
        <br>
        <input type="text" id="descripcion" name="libro_descripcion" placeholder="500 caracteres">
        <br>
        <label for="categoria">Categoría</label>
        <br>
        <input type="text" id="categoria" name="libro_categoria" placeholder="Fantasía">
        <br>
        <br>
        <button type="submit" id="añadir">Añadir</button>
    </form>
</body>